<div class="pure-g push-down-100">
  <div class="pure-u-1-1 center-text">
    <h1 class="animated fadeInDown"><span class="wh-gold">Betr</span><span class="light-text wh-white"> betting</span></h1>

  </div>
</div>

<div class="pure-g push-down-25" ng-controller="UsersController as users">
	<div ng-hide="users.isLoggedIn()" class="pure-u-1-8 center-text centered">
		<form ng-submit="users.authorize()" class="pure-form pure-form-stacked">
	    <fieldset>
        <input class="wh-white-bg" ng-model="users.user.username" name="username" id="username" type="text" placeholder="Username">
        <input class="wh-white-bg" ng-model="users.user.password" name="password" id="password" type="password" placeholder="Password">
        <div class="push-down-25">
        	<button type="submit" class="pure-button wh-gold-bg">Sign in</button>
        </div>
	    </fieldset>
		</form>
	</div>
  <div ng-show="users.isLoggedIn()" class="pure-u-1-8 center-text centered">
    <h1>Hi {{ users.firstName }}</h1>
  </div>
</div>
